* {
    font-size: 20px;
    color: green !important;
    margin: 0;
    padding: 0;
}

span::before,
span::after {
    display: inline-block;
    width: 20px;
    height: 20px;
}

span::before {
    content: '';
    background-color: green;
}


span::after {
    content: '';
    background-color: red;
}