$color__grey = #ccc;
$color__green = #008000;
$color__yellow = #ffff00;
$color__blue = #1d00ff;
$color__red = #ff0001;

$color__important = $color__red;

$color__article__border = $color__grey;
$color__article__header = $color__green;
$color__article__content = $color__blue;
$color__article__footer = $color__yellow;


.article {
    padding: 20px;
    border: 1px solid $color__article__border;
    text-align: center;
    width: 25%;

    &__header {
        background-color: $color__article__header;
    }

    &__content {
        background-color: $color__article__content;

        &--important {
            border: 1px solid $color__important;
        }
    }

    &__footer {
        background-color: $color__article__footer;
    }
}